@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --primary-color: #090d13;
  --secondary-color: #ffffff;
  --tercery-color: rgb(8, 189, 255);
  --tercery-color-darker: rgb(40, 128, 161);
  --activate-color: rgb(255, 0, 0);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  background: var(--primary-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #ffffff0c;
  padding: 15px 50px 50px;
  border-radius: 12px;
}

h1 {
  color: var(--secondary-color);
  font-weight: 900;
}
