* {
  background-color: rgb(0, 0, 0);
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#texto-inicial {
  margin-bottom: 1vw;
}

.texto {
  background-color: rgb(11, 11, 11);
  color: white;
  width: 100%;
  max-width: 35vw;
  margin: 1ch auto;
  font-family: monospace;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.345);
  border-radius: 15px;
  text-align: justify;
  padding: 2ch;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.211);
  user-select: none;
  cursor: text;
}

#botao-inicial {
  backface-visibility: hidden;
  padding: 2ch 2ch;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.875);
  user-select: none;
  cursor: pointer;
  transition: all 180ms ease-out;
  gap: 23vw;
}

#botao-inicial:hover {
  background-color: rgba(228, 228, 228, 0.721);
  transition: 180ms ease-in;
}

#texto-scnd {
  text-align: center;
  display: block;
  position: fixed;
}

#txtBtn {
  white-space: nowrap;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.material-icons {
  height: 2vw;
  color: transparent;
  background-color: transparent;
  background-image: url('src/arrow_drop_down_24dp_E3E3E3.svg');
  background-repeat: no-repeat;
  background-size: 2vw;
}

.projetado {
  transition: 180ms ease-in;
  transform: scale(1.03) translateZ(0);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.4);
}

.ativado {
  background-color: rgba(128, 128, 128, 0.721);
}

#botao-inicial:active {
  transform: scale(0.98) translateZ(0);
  background-color: rgba(128, 128, 128, 0.721);
  transition: 40ms linear;
}
