* {
  --botao: #6341ea;
  --hover: #9b76ff;
  --active: #3e22b8;
  background-color: #000000;
  color: white;
  font-size: 26px;
  font-family: monospace;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.linkAmazon {
  text-align: justify;
  background-color: var(--botao);
  border: 20px var(--botao) solid;
  border-radius: 2ch;
  text-decoration: none;
  text-align: center;
  width: 35vw;
  word-spacing: -8px;
  box-shadow: 0 0 10px var(--botao);
  transition: all 300ms ease;
}

.linkAmazon:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  box-shadow: 0 0 15px var(--hover);
}

.linkAmazon:active {
  box-shadow: 0 0 5px var(--active);
  background-color: var(--active);
  border-color: var(--active);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.palagrafo {
  max-width: 45vw;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.521);
}

.projetado {
  transition: all 180ms ease-in;
  transform: scale(1.03) translateY(-5px);
}

#material-icons {
  display: inline-block;
  margin-left: 0.6vw;
  width: 1em;
  height: 1em;
  color: transparent;
  background-color: transparent;
  background-image: url('src/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.linkAmazon:hover #material-icons {
  animation: moveRight 500ms infinite alternate;
}

@keyframes moveRight {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(5px);
  }
}
