* {
  --botao: #6341ea;
  --hover: #9b76ff;
  --active: #3e22b8;
  background-color: #15131d;
  color: white;
  font-size: 26px;
  font-family: monospace;
  font-weight: 800;
}

#linkAmazon {
  text-align: justify;
  background-color: var(--botao);
  border: 20px var(--botao) solid;
  border-radius: 2ch;
  text-decoration: none;
  word-spacing: -8px;
  box-shadow: 0 0 10px var(--botao);
  transition: all 300ms ease;
}

#linkAmazon:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  box-shadow: 0 0 15px var(--hover);
}

#linkAmazon:active {
  box-shadow: 0 0 5px var(--active);
  background-color: var(--active);
  border-color: var(--active);
}

#container {
  align-items: center;
  display: flex;
  max-width: 80vw;
  flex-direction: column;
  margin: auto;
}

#palagrafo {
  text-align: justify;
}

.projetado {
  transition: all 180ms ease-in;
  transform: scale(1.03) translateY(-5px);
}
